@{
    ViewData["Title"] = "About FV";
}

<article>
    <div class="row">
        <h2 class="col-sm-12">Future Value Industries</h2>
        <div class="col-sm-6">
            <p>
                Future Value Industries was founded nearly two or three days ago by Brandon Bode.
                The principle behind FV Industries is not to determine value but to help learn the best web application coding practices.
                This application was developed in the comfort of my chair.
            </p>
            <p>
                A few hours after the creation of FV Industries I sent a snapchat to one of my Canadian friends, so FV is now considered international.
                Future Value is probably not the future of web applications, but it could become the start!
            </p>
        </div>
        <div class="col-sm-6">
            <img src="~/Images/buildings.jpg" alt="Looking up at buildings" class="img-fluid rounded-circle"/>
        </div>
    </div>
</article>
