@{
    ViewData["Title"] = "Contact Us!";
}

<div class="row">
    <div class="col-sm-6">
        <h2>Future Value Headquarters</h2>
        <h4>Determining value since 2021</h4>
        <address>
            E Front St <br />
            Traverse City, MI 49696<br />
            <abbr title="Phone">P:</abbr>
            888.867.5309
        </address>

        <address>
            United States: <a href="mailto:us@futurevalue.com">us@futurevalue.com</a>
            <br />
            Canada: <a href="mailto:ca@futurevalue.com">ca@futurevalue.com</a>
        </address>
    </div>
    <div class="col-sm-6">
        <img src="~/Images/FV.jpg" alt="Hand holding a house" class="img-fluid rounded-circle" />
    </div>
</div>